@import "colors.css";

/* --- MAPEAMENTO DO MATUGEN --- */
@define-color bar-bg @background;
@define-color main-fg @primary;
@define-color pill-bg @surface;
@define-color pill-border @secondary;
@define-color text-color @on_primary;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

/* --- BARRA PRINCIPAL (GLASS) --- */
window#waybar {
    /* alpha em 0.5 define 50% de transparência */
    background-color: alpha(@bar-bg, 0.5);
    border-bottom: none;
    color: @text-color;
}

tooltip {
    background: @bar-bg;
    border: 1px solid @primary;
}

/* --- WORKSPACES (Cápsula Esquerda) --- */
#workspaces {
    background-color: @pill-bg;
    margin: 6px 10px;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid @pill-border;
}

#workspaces button {
    color: @secondary;
    padding: 0 6px;
    background: transparent;
    margin: 4px 0;
}

#workspaces button.active {
    color: @bar-bg;
    background-color: @primary;
    border-radius: 10px;
}

/* --- MÓDULOS DA DIREITA --- */
/* Note que incluímos apenas o #tray aqui, o bluetooth branco aparecerá dentro dele */
#pulseaudio, #battery, #tray, #custom-notification {
    background-color: @pill-bg;
    color: @primary;
    border-radius: 15px;
    padding: 4px 14px;
    margin: 6px 4px;
    border: 1px solid @pill-border;
}

#clock {
    font-family: "Inter Display", "JetBrainsMono Nerd Font";
    font-weight: 800;
    font-size: 15px;
    background-color: @surface;
    color: @text-color;
    padding: 4px 20px;
    border-radius: 15px;
    margin: 5px 10px;
}

#battery.warning { color: @error; }
#battery.critical { background-color: @error; color: @bar-bg; }

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; background-color: @error; }
